:root {
  --charcoal: #264653ff;
  --green: rgb(20, 221, 198);
  --dark-green: rgb(14, 116, 45);
  --yellow: rgb(210, 184, 37);
  --orange: #f4a261ff;
  --dark-orange: rgb(222, 86, 52);
}



body {
    background-color: rgba(193, 182, 182, 0.901);
    font-family: "Roboto Flex", sans-serif;
    font-family: "Varela Round", sans-serif;
 
}

main {
    margin-top: 40px;
}


/* navbar styling */

.topnav {
  overflow: hidden;
  background-color: var(--charcoal);
  position:fixed;
  top:0;
  width:100%;
  border-bottom: 0.3rem solid var(--dark-orange);

}

.topnav a {
  float: left;
  color: var(--green);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: var(--charcoal);
  color: var(--yellow);
}


.myIcons {
    margin-right: 0.5rem;
}


.topnav .icon {
    display: none;
  }

  /* Hero styling */

  .hero-div {
      text-decoration:none;
      background-color: var(--charcoal);
      color:var(--green);
      height:200px;
      display:flex;
      justify-content:center;
      align-items:center;
      text-align: center;
      border-bottom:0.3rem solid var(--dark-orange);
}

.text-div h2 {
    font-family: 'Galada';
    font-size: 50px;
    color:var(--yellow)
}

/* search form styling */

.search-form {
    margin:0.8rem;
    padding:0.4rem;
    border:dashed 0.2rem var(--charcoal);
    display:inline-block;
    
}

/* Recent searches styling */

.search-container {
    flex-direction: column;
    position:relative;
}

.recent-searches {
    margin:0.8rem;
    padding:0.4rem;
    border:solid 0.2rem var(--charcoal);
    display:inline-block;
    height:400px;
    position:absolute;
    top:65px;
    left:2px;
}

.recent-searches h2 {
    text-decoration: underline;
}

/* current weather card styling */

.current-weather-card {
    position:absolute;
    justify-items: center;
    text-align: center;
    box-shadow: 2px 5px 8px #888888;
    padding:1.5rem;
    color:var(--charcoal);
    display:inline-block
}

.current-weather-card h2{
    font-weight: 800;
    font-style:italic ;
}

#current-weather-titles {
    border:3px dashed var(--charcoal)
}

.info-titles {
  padding:0.7rem
}

.info-table {
    border:3px solid var(--dark-green);
    margin:1rem;
    border-spacing:10px;
}

table, th, td {
    border:2px solid var(--dark-green)
  }

  td {
      padding:8px;
  }

  /* future card styling */

.future-weather-card {
    justify-items: center;
    text-align: center;
    box-shadow: 2px 5px 8px #888888;
    padding:1.5rem;
    color:var(--dark-orange);
    display:inline-block
}

.future-weather-card img {
    margin-top:1rem
}

.future-weather-container{
    display:flex;
    flex-direction:row;
    justify-content: space-evenly;
    margin-bottom:3rem;
}

#card-one {
    border:dashed 3px var(--dark-green);
    color:var(--dark-green);
}

#card-two {
    border:dashed 3px var(--green);
    color:var(--green)
}

#card-three {
    border:dashed 3px var(--dark-orange);
    color:var(--dark-orange);
}

#card-four {
    border:dashed 3px var(--orange);
    color:var(--orange)
}

#card-five {
    border:dashed 3px var(--yellow);
    color:var(--yellow)
}





/* footer styling */

.page-footer {
    background-color:var(--charcoal);
    border-top:0.3rem solid var(--dark-orange);
    height:80px;
    color:var(--orange);
    text-align: center;
    font-size: 20px;
    align-items: center;
    
}


/* media queries */

  @media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }
